{
  "env": {
    "PARCEL": {
      "presets": ["env", "react"]
    },
    "POI": {
      "presets": ["poi"],
      "plugins": ["react-hot-loader/babel"]
    },
    "ROLLUP": {
      "presets": [["env", { "modules": false }], "react"]
    },
    "WEBPACK": {
      "presets": ["env", "react"]
    }
  }
}